<div class="center-text col-md-8 col-md-offset-2">
    <h1 class="cover-heading">Welcome to CSGO Stat Trakr</h1>
    <p class="lead">CSGO Stat Trakr is the go to tool for stepping up your Counter Strike game! Dont' get salty, get CSGO Stat Trakr!</p>
    @if (UserService.GetLogIn().LoggedIn == false)
    {
        <p class="lead">
            <a asp-controller="Register" asp-action="Index" class="btn btn-lg btn-default">Register</a>
        </p>
    }
</div>